body {
    background-color: $medium-gray;
}

.top-nav {
    background-color: $dark-gray;
    color: $white;
    padding: 0;
    margin: 0;
    width: 100%;
}

.top-nav {

    a {
    color: lightblue;
    }
    li {
        padding: 10px 15px;
    }

}

.top-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;

    li {
        list-style: none;
        color: $light-gray;
        float: left;
        font-size: 13px;
        padding: 10px 15px;

    }

    li:first-child {
        padding-left: 0;
    }

    li i {
        padding-right: 8px;
    }
}

.top-list-right {
    color: $white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    li {
        list-style: none;
        color: $light-gray;
        float: right;
        font-size: 13px;
        padding: 10px 15px;

    }
}