body {
    background-color:pink;
}

.top-nav {
    background-color: $dark-gray;
    color: $white;
    padding: 0;
    margin: 0;
    width: 100%;
}

.top-nav {

    a {
    color: lightblue;
    }
    li {
        padding: 10px 15px;
    }

}

.top-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.top-list-right {
    color: $white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}