@media only screen and (max-width: 640px) {

    button {
        transform: scale(0.85);
    }

    .column button {
        padding-left:2rem;
    }

    
    img {
        margin: 2rem 1rem;
    }

    
}
