body {
    background-color: bisque;
}

.top-nav {
    background-color: $dark-gray;
    color: $white;
    margin: 0;
    padding: 0;
    width: 100%;
}

.top-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    // nesting possible in foundation
    
}